@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fjalla+One&display=swap');
:root{
    --cor-do-fundo: #000; 
    --cor-da-letra: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:beige;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#titulo{
    font-family: "Alata", sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/src/assets/uvas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:goldenrod;
    text-shadow: 2px 2px 2px black;
    
    
    font-size: 50px;
    padding: 3rem;
}

header{
    background:rgb(57, 18, 150);
    color:  rgb(33, 33, 134);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;


}

header nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;


} 
body{
    background-color: var(--cor-do-fundo);
    color: var(--cor-da-letra);
}
main{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}
.produto{
    width: 204px;
    height: 308px; 
    margin: 40px;
    border: 2px solid #1f252f;
    border-radius: 32px;
    background-color: #1f252f;
}
.produto h3{
    padding-left: 20px;
}
.produto img{
    width: 200px;
    height: 200px; 
    border-radius: 30px;
}
.preco{
    padding-left: 25px;
    color:#d9d7ef;
    font-size: 1.5rem;
}
button{
    background-color:#57499A;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 45px;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    background: #2a2c47;
    color:#d9d7ef;
}